### Python build-in functions (`read()`, `readline()`, and `readlines()`)

In [1]:
with open('sample.txt', 'r') as reader:
    # Read & print the entire file
    print(reader.read())

Country/Region
Mainland China
Japan
Singapore
Hong Kong
Japan
Thailand
South Korea
Malaysia
Taiwan
Germany
Vietnam
France
Macau
UK
United Arab Emirates
US
Australia

In [2]:
with open('sample.txt', 'r') as reader:
    # Read & print the partial file
    print(reader.read(5))

Count

In [3]:
with open('sample.txt', 'r') as reader:
    # Read & print the first 5 characters of the line 1 time
    print(reader.readline())

Country/Region

In [4]:
with open('sample.txt', 'r') as reader:
    # Read & print the first 5 characters of the line 5 times
    print(reader.readline(5))
    print(reader.readline(5))
    print(reader.readline(5))
    print(reader.readline(5))
    print(reader.readline(5))

Count
ry/Re
gion

Mainl
and C

In [5]:
with open('sample.txt', 'r') as reader:
    print(reader.readlines())

['Country/Region\n', 'Mainland China\n', 'Japan\n', 'Singapore\n', 'Hong Kong\n', 'Japan\n', 'Thailand\n', 'South Korea\n', 'Malaysia\n', 'Taiwan\n', 'Germany\n', 'Vietnam\n', 'France\n', 'Macau\n', 'UK\n', 'United Arab Emirates\n', 'US\n', 'Australia']

### Python `csv` module

In [6]:
import csv

In [7]:
with open('sample.csv','r') as myFile:  
    lines=csv.reader(myFile, delimiter=',')  
    for line in lines:  
        print(line)

['Province/State', 'Country/Region', 'Last Update', 'Confirmed', 'Deaths', 'Recovered', 'City', 'Date_last_updated_AEDT', 'lat', 'lon']
['Hubei', 'China', '02/15/2020 23:00', '56249', '1596', '5623', '', '2020-02-16 15:00:00', '31.1517252', '112.8783222']
['Guangdong', 'China', '02/15/2020 23:00', '1316', '2', '442', '', '2020-02-16 15:00:00', '23.1357694', '113.1982688']
['Henan', 'China', '02/15/2020 23:00', '1231', '13', '415', '', '2020-02-16 15:00:00', '34.0000001', '113.9999999']

In [8]:
with open('sample.csv','r') as myFile: 
    lines=csv.DictReader(myFile, delimiter=',')
    for line in lines:
        print(line)

OrderedDict([('Province/State', 'Hubei'), ('Country/Region', 'China'), ('Last Update', '02/15/2020 23:00'), ('Confirmed', '56249'), ('Deaths', '1596'), ('Recovered', '5623'), ('City', ''), ('Date_last_updated_AEDT', '2020-02-16 15:00:00'), ('lat', '31.1517252'), ('lon', '112.8783222')])
OrderedDict([('Province/State', 'Guangdong'), ('Country/Region', 'China'), ('Last Update', '02/15/2020 23:00'), ('Confirmed', '1316'), ('Deaths', '2'), ('Recovered', '442'), ('City', ''), ('Date_last_updated_AEDT', '2020-02-16 15:00:00'), ('lat', '23.1357694'), ('lon', '113.1982688')])
OrderedDict([('Province/State', 'Henan'), ('Country/Region', 'China'), ('Last Update', '02/15/2020 23:00'), ('Confirmed', '1231'), ('Deaths', '13'), ('Recovered', '415'), ('City', ''), ('Date_last_updated_AEDT', '2020-02-16 15:00:00'), ('lat', '34.0000001'), ('lon', '113.9999999')])

In [9]:
filed1=[]
filed2=[]
filed3=[]
with open('sample.csv','r') as myFile: 
    lines=csv.DictReader(myFile, delimiter=',')
    for line in lines:
        filed1.append(line['Province/State'])
        filed2.append(line['Country/Region'])
        filed3.append(line['Last Update'])

In [10]:
filed1

['Hubei', 'Guangdong', 'Henan']

In [11]:
filed2

['China', 'China', 'China']

In [12]:
filed3

['02/15/2020 23:00', '02/15/2020 23:00', '02/15/2020 23:00']

### Import data using Pandas

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('sample.csv')
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,City,Date_last_updated_AEDT,lat,lon
0,Hubei,China,02/15/2020 23:00,56249,1596,5623,NaN,2020-02-16 15:00:00,31.151725,112.878322
1,Guangdong,China,02/15/2020 23:00,1316,2,442,NaN,2020-02-16 15:00:00,23.135769,113.198269
2,Henan,China,02/15/2020 23:00,1231,13,415,NaN,2020-02-16 15:00:00,34.000000,114.000000

In [15]:
df = pd.read_excel('sample.xlsx')
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,City
0,Hubei,Mainland China,2/16/2020 18:30,58182,1696,6639,NaN
1,Guangdong,Mainland China,2/16/2020 18:30,1316,2,465,NaN
2,Henan,Mainland China,2/16/2020 18:30,1231,13,440,NaN
3,Zhejiang,Mainland China,2/16/2020 18:30,1167,0,456,NaN
4,Hunan,Mainland China,2/16/2020 18:30,1004,3,464,NaN

In [16]:
xlsx = pd.ExcelFile('sample.xlsx')
# Now you can list all sheets in the file
xlsx.sheet_names

['2020-02-16-18-30',
 '2020-02-16-15-30',
 '2020-02-16-06-00',
 '2020-02-16-03-00',
 '2020-02-16-01-00',
 '2020-02-15-23-00',
 '2020-02-15-21-00',
 '2020-02-15-20-00',
 '2020-02-15-16-00',
 '2020-02-15-06-00',
 '2020-02-15-05-00',
 '2020-02-15-03-30',
 '2020-02-14-23-00',
 '2020-02-14-20-00',
 '2020-02-14-18-30',
 '2020-02-14-06-00',
 '2020-02-14-04-00',
 '2020-02-14-01-00',
 '2020-02-13-22-00',
 '2020-02-13-21-00',
 '2020-02-13-19-30',
 '2020-02-13-06-00',
 '2020-02-13-03-00',
 '2020-02-13-00-30',
 '2020-02-12-21-30',
 '2020-02-12-20-00',
 '2020-02-12-19-00',
 '2020-02-12-17-00',
 '2020-02-12-06-00',
 '2020-02-12-04-00',
 '2020-02-12-01-00',
 '2020-02-11-23-00',
 '2020-02-11-20-30',
 '2020-02-11-18-30',
 '2020-02-11-17-30',
 '2020-02-11-05-30',
 '2020-02-11-05-00',
 '2020-02-11-03-00',
 '2020-02-11-00-00',
 '2020-02-10-22-30',
 '2020-02-10-22-00',
 '2020-02-10-20-00',
 '2020-02-10-17-30',
 '2020-02-10-06-00',
 '2020-02-10-04-00',
 '2020-02-10-02-30',
 '2020-02-10-01-00',
 '2020-02-09-23-00',
 '2020-02-09-21-00',
 '2020-02-09-19-30',
 '2020-02-09-17-30',
 '2020-02-09-16-00',
 '2020-02-09-06-00',
 '2020-02-09-03-00',
 '2020-02-09-00-00',
 '2020-02-08-22-00',
 '2020-02-08-20-00',
 '2020-02-08-18-00',
 '2020-02-08-16-00',
 '2020-02-08-06-00',
 '2020-02-08-05-00',
 '2020-02-08-03-00',
 '2020-02-08-01-00',
 '2020-02-07-23-00',
 '2020-02-07-21-00',
 '2020-02-07-20-00',
 '2020-02-07-19-00',
 '2020-02-07-17-00',
 '2020-02-07-16-00',
 '2020-02-07-06-00',
 '2020-02-07-03-00',
 '2020-02-07-00-30',
 '2020-02-06-21-30',
 '2020-02-06-20-00',
 '2020-02-06-18-00',
 '2020-02-06-15-00',
 '2020-02-06-06-00',
 '2020-02-06-03-00',
 '2020-02-05-23-00',
 '2020-02-05-19-00',
 '2020-02-05-15-00',
 '2020-02-05-06-00',
 '2020-02-05-02-00',
 '2020-02-04-20-00',
 '2020-02-04-17-00',
 '2020-02-04-14-00',
 '2020-02-04-05-00',
 '2020-02-04-01-00',
 '2020-02-03-20-00',
 '2020-02-03-18-00',
 '2020-02-03-15-00',
 '2020-02-03-05-00',
 '2020-02-03-03-00',
 '2020-02-02-22-00',
 '2020-02-02-20-00',
 '2020-02-02-14-00',
 '2020-02-02-05-00',
 '2020-02-01-23-00',
 '2020-02-01-18-00',
 '2020-02-01-10-00',
 '2020-01-31-19-00',
 '2020-01-31-14-00',
 '2020-01-30-21-30',
 '2020-01-30-11-00',
 '2020-01-29-21-00',
 '2020-01-29-14-30',
 '2020-01-29-13-00',
 '2020-01-28-23-00',
 '2020-01-28-18-00',
 '2020-01-28-13-00',
 '2020-01-27-20-30',
 '2020-01-27-19-00',
 '2020-01-27-09-00',
 '2020-01-26-23-00',
 '2020-01-26-11-00',
 '2020-01-25-22-00',
 '2020-01-25-12-00',
 '2020-01-25-00-00',
 '2020-01-24-12-00',
 '2020-01-24-00-00',
 '2020-01-23-00-00',
 '2020-01-22-00-00',
 '2020-01-21-00-00']

In [17]:
# to read just one sheet to dataframe:
df = pd.read_excel(xlsx, sheet_name="2020-02-16-18-30")
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,City
0,Hubei,Mainland China,2/16/2020 18:30,58182,1696,6639,NaN
1,Guangdong,Mainland China,2/16/2020 18:30,1316,2,465,NaN
2,Henan,Mainland China,2/16/2020 18:30,1231,13,440,NaN
3,Zhejiang,Mainland China,2/16/2020 18:30,1167,0,456,NaN
4,Hunan,Mainland China,2/16/2020 18:30,1004,3,464,NaN